
{{#if author}}
				<aside>
				<div>
				  {{#if author.image}}
				  <img class="post-avatar" alt="Author avatar" src="{{author.image}}" height="155" width="155">
				  {{/if}}
				  <h4>{{author.name}}</h4>
				  {{#if author.website}}
				  <div><a href="{{author.website}}" target="_blank">{{author.website}}</a></div>
				  {{/if}}
				  <div>
				  <p>{{author.bio}}</p>
				  </div>
				</div>
				</aside>
{{/if}}		
