<div id="site-footer" class=" text-center">
<footer>
<div>
<a href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank"><span></span></a> 
<a href="http://twitter.com/share?text={{@blog.title}}&url={{url absolute="true"}}" target="_blank"><span></span></a> 
<a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"><span></span></a>
<a target="_blank" href="{{@blog.url}}/rss/"><span><span></span></span></a>
</div>
<p>&copy; {{date format='YYYY'}} <a href="{{@blog.url}}">{{@blog.title}}</a> - All Rights Reserved.</p>
<p>Powered by <a href="http://ghost.org" target="_blank">Ghost</a></p>
</footer>
</div>