{{!< default}}
{{> header}}
<main id="main" class="container" role="main">
{{#post}}
<a href="/">&larr; Go Back</a>
<article role="article" id="article-container">
  <header>
 <h1><a href="{{{url}}}">{{title}}</a></h1>
 <p>by <a href="{{author.website}}" target="_blank">{{author}}</a></p>
 <time datetime="{{date format="DD MMM YYYY"}}">
 <span></span> 
 {{date format='DD MMM YYYY'}}
 </time>
</header>
  <div>
    {{content}}
  </div>
  {{#if tags}}
<div>
<span></span> Tags: {{tags separator=" . "}}
</div>
{{/if}}
<div class="text-center">
 <p>Share:</p>
 <a href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank"><span><i class="fa fa-facebook-square fa-2x"></i></span></a> 
 <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" target="_blank"><span><i class="fa fa-twitter-square fa-2x"></i></span></a> 
 <a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i><span></span></a>
</div>
</article>
{{#if author}}
<footer class="text-center">
<h4>About the Author</h4>
<div>
  {{#if author.image}}
  <div id="avatar-theme"><img src="{{author.image}}" /></div>
  {{/if}}
  <h4>{{author.name}}</h4>
  {{#if author.website}}
  <div><a href="{{author.website}}" target="_blank">{{author.website}}</a></div>
  {{/if}}
  <div id="site-post-footer">
  <p>{{author.bio}}</p>
  </div>
</div>
</footer>
{{/if}}
{{/post}}
</main>
{{> footer}}